<div class="container">
<div class="row">
<div class="col-xs-12">
<h2>会員情報編集</h2>
<table class='table'>
  <thead>
    <tr>
      <th>会員ID</th>
      <th><%= @costomer.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <th></th>
    </tr>
    <tr>
      <th>フリガナ</th>
      <th></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th></th>
    <tr>
      <th>住所</th>
      <th></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th></th>
    </tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
</div>
</div>
</div>