<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <h1>商品一覧</h1>
        <thaed>
         <tr>
           <th>商品ID</th>
           <th>商品名</th>
           <th>税抜価格</th>
           <th>ジャンル</th>
           <th>ステータス</th>
         </tr>
        </thaed>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, item_path(item)%></td>
              <td><%= item.price %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

