<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>商品詳細</h1>
      <h2>商品名</h2>
      <p><%= @item.name %></p>
      <h2>商品説明</h2>
      <p><%= @item.introduction %></p>
      <h2>ジャンル</h2>
      <p>ケーキ</p>
      <h2>税抜価格</h2>
      <p><%= @item.price %>円</p>
      <h2>販売ステータス</h2>
      <p>販売中</p>
    </div>
  </div>
</div>