<div class="container">
  <div class="row">

    <div class="col-xs-12 col-xs-offset-4">
      <h1><strong>About</strong></h1> <br></br>
    </div>
    <div class="col-xs-6">
      <h4 class="about-text">
        <br><br></br></br>
        ながのCakeは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でも</br>
        ご注文いただけます。
        ぜひご注文ください。<br>
      </h4>
    </div>
    <div class="col-xs-6 ">
      <div class="about"></div>
    </div>
  </div>
</div>

